.card-advice {
  background: var(--advice-card-color);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.336);
  width: fit-content;
  padding: 3rem 3rem 5rem 3rem;
  border-radius: var(--radius);
  max-width: 450px;
  position: relative;
}

.card-advice__header {
  margin-bottom: 1.5rem;
}

h2 {
  color: var(--advice-dice-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
}

p {
  color: var(--text-color);
  font-size: 2.1rem;
  text-align: center;
}

.card-advice__divisor-img {
  margin-top: 3rem;
}

button {
  padding: 1.3rem;
  background: var(--advice-dice-color);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  inset: 0;
  margin: auto auto 0 auto;
  transform: translateY(20px);
}

button:hover {
  box-shadow: 1px 0 10px var(--advice-dice-color);
}

img {
  display: block;
  transition: all 900ms ease;
}

button:hover img {
  transform: rotate(360deg);
}
